body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.simon-button {
  height: 2em;
  width: 2em;
  border: 2px solid grey;
  &#red {
    background-color: red;
  }
  &#blue {
    background-color: blue;
  }
  &#green {
    background-color: green;
  }
  &#yellow {
    background-color: yellow;
  }  
}
