body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.simon-button {
  height: 5em;
  width: 5em;
  border: 2px solid grey;
  &#red {
    background-color: red;
  }
  &#blue {
    background-color: blue;
  }
  &#green {
    background-color: green;
  }
  &#yellow {
    background-color: yellow;
  }
  &.red {
    border: 5px solid red;
    background-color: black;
  }
  &.blue {
    border: 5px solid blue;
    background-color: black;
  }
  &.green {
    border: 5px solid green;
    background-color: black;
  }
  &.yellow {
    border: 5px solid yellow;
    background-color: black;
  }
  &.black {
    background-color: black;
  }
  &.colour-button {
    //cursor: pointer;
  }
  &.strict-on {
    color: red;
  }
  &.strict-off {
    color: green;
  }
}
