body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

.simon-button {
  height: 5em;
  width: 5em;
  border: 2px solid grey; }
  .simon-button#red {
    background-color: red; }
  .simon-button#blue {
    background-color: blue; }
  .simon-button#green {
    background-color: green; }
  .simon-button#yellow {
    background-color: yellow; }
  .simon-button.strict-on {
    color: red; }
  .simon-button.strict-off {
    color: green; }
